/* Main Class */
body{
	background-color:#000;
}
.overlay{
	position: relative;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, 0.3);
}
.section{
	width:100%;
	padding-top:50px;
	padding-bottom:50px;
}
.section-header{
	text-transform:capitalize;
}
/* Main Class */
/* Combined Styles */
.navbar .navbar-brand::before,
	#slider .content h1::before{
	content: ">";
	color: #28a745;
}
.navbar .navbar-nav,
.navbar .navbar-brand,
#features .content h4{
	text-transform: capitalize;
}
/* Start Navbar */
#navbar{
	position:absolute;
	width:100%;
	z-index:999;
}
.navbar .form-control{
	border:none;
	border-radius:0;
	border-left:2px solid #28a745;
	background-color:inherit;
}
.navbar .form-control::placeholder{
	color: #FFF;
	opacity:0.9;
}
.navbar .navbar-nav .active{
	border-bottom:1.9px solid #28a745;
	padding-bottom:2px;
}
/* End Navbar */
/* Start Slider */
#slider{
	width:100%;
	height:751px;
	background-image: url('../imgs/slider1.jpeg');
	background-size:cover;
	background-position:50% 15%;
	background-attachment: fixed;
	box-shadow: 50px 50px 100px 20px #555 inset,
						 -50px -50px 100px 20px #555 inset;
}
#slider .col{
	padding-top:25%;
}
/* End Slider */
/* Start About Us */
#about-us video{
	margin:0 auto;
}
#about-us h3 i,
#about-us h4 i{
	color: #28a745;
	margin-right:5px;
}
#about-us .first-content,
#about-us .second-content{
	width:45%;
}
#about-us .my-icons{
	font-size:2.5rem;
}
#about-us .my-icons li{
	transition: all .5s ease-in-out;
	border-bottom: 2px solid #343a40;
}
#about-us .my-icons li:hover{
	color:#28a745;
	cursor: pointer;
	border-bottom: 2px solid #28a745;
}
/* End About Us */
/* Start Services */
#services ul li i.fa-check{
	color: #28a745;
}
#services ul li i.fa-times{
	color: #F00;
	margin-right:5px;
}
/* End Services */
/* Start Features */
#features .content{
	background-color:#000;
	padding:20px;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}
#features .content:hover{
	box-shadow: 10px 10px 20px 20px #222;
	transform: scale(1.01);
	cursor: pointer;
}
/* End Features */
/* Start Work */

/* End Work */
/* Start Contact */
#contact .show-up-case a{
	color: #28a745;
}
#contact .show-up-case a.active{
	color: #FFF;
	background-color: #28a745;
	border-color: #28a745;
}
#contact .show-any{
	max-width:21rem;
}
/* End Contact */
/* Start Footer */
#footer{

}
#footer ul li:not(:last-child){
	border-bottom: 1px solid #28a745;
	margin-bottom:5px;
}
/* End Footer */
/* Media Query */
@media (max-width: 576px) {
	#about-us .first-content,
	#about-us .second-content{
		width:100%;
	}
	#slider{
		background-position:30% 15%;
	}
}
@media (max-width: 768px){
	#services .card{
		margin-bottom:8px;
	}
	#features .content{
		margin-bottom:8px;
	}
}
/* Media Query */
